.colors {
  height: 100%;
}
.color_box {
  width: 20%;
  height: 25%;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.detail-name {
  margin-top: 15px;
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.detail-copy button {
  background-color: rgba(225, 225, 225, 0.3);
  padding: 6px 20px 6px 20px;
  border: none;
  color: #ffff;
  text-transform: uppercase;
  opacity: 0;
  letter-spacing: 0.3px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}
.color_box:hover .detail-copy button {
  opacity: 1;
}
.detail-copy {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-name h6 {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.3px;
  margin-left: 5px;
}
.detail-name h5 {
  background-color: rgba(225, 225, 225, 0.3);
  padding-left: 10px;
  padding-right: 4px;
  color: #ffff;
  text-transform: uppercase;
  font-weight: 400;
}
